info_cards/podcast_visitenkarten.aux
info_cards/podcast_visitenkarten.fdb_latexmk
info_cards/podcast_visitenkarten.fls
info_cards/podcast_visitenkarten.pdf
info_cards/podcast_visitenkarten.log
info_cards/podcast_visitenkarten.synctex.gz
info_cards/podcast_visitenkarten.tex
podcasts/R6a/Ethik/Test_17_12_25/Ethik_Klassenarbeit_Zusammenfassung.txt
podcasts/R6a/Ethik/Test_17_12_25/IMG_20251212_175211.jpeg
podcasts/R6a/Ethik/Test_17_12_25/IMG_20251212_175321.jpeg
podcasts/R6a/Ethik/Test_17_12_25/IMG_20251212_175338.jpeg
podcasts/R6a/Ethik/Test_17_12_25/IMG_20251212_175427.jpeg
podcasts/R6a/Ethik/Test_17_12_25/IMG_20251212_175531.jpeg
podcasts/R6a/Ethik/Test_17_12_25/WhatsApp Image 2025-12-16 at 11.49.24 (1).jpeg
podcasts/R6a/Ethik/Test_17_12_25/WhatsApp Image 2025-12-16 at 11.49.24.jpeg
